/* CSS Document */

/* #fbb03b main color theme, WIP*/
body {
  background: #fbb03b;
  background: -webkit-linear-gradient(to right, #fbb03b, #c2e59c);
  background: linear-gradient(to right, #fbb03b, #c2e59c);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}
